git init
git add *
Shell

	git status
1
	git status
    git commit -m 'Subo la estructura del proyecto al repositorio de GitHub'
  git remote add origin git@github.com:my_company/my_project.git
  git push -u origin master
